h1, h2, h3 {
  font-family: "Momo Trust Display", sans-serif;
}

body {
    background-color: rgb(228, 255, 145);
}

/* Barre de Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(175, 217, 50);
    padding: 0.5em 1em;
}
.liens {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}
.liens a {
    text-decoration: none;
    transition: color 0.3s;
}
.liens a:hover {
    color: #ffffff;
}
