<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Lien vers le css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}">
    <!-- Import d'une police -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
<!-- Zone que les pages enfants peuvent remplacer -->
    <title>{% block title %}Mon site{% endblock %}</title>
</head>
<body>
    <header>
        <h1>COOKING.fr</h1>
        <nav class="navbar"> <!-- Liens de navigation -->
            <ul class="liens">
                <li><a href = "/">Accueil</a></li>
                <li><a href = "/recipes">Recettes</a></li>
            </ul>
        </nav>
    </header>

    <main> <!-- Zone principale pour le contenu spécifique à chaque page -->
        {% block content %}{% endblock %}
    </main>

    <footer> <!-- Bandeau du bas -->
        &copy; 2026 Mon site
    </footer>
</body>
</html>

{#<!-- 
Le template enfant est alors :

{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<p>Bienvenue sur la page d’accueil !</p>
{% endblock %}
-->#}