{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h2>Liste des recettes</h2>

{% if recettes %}
    <div class="liste-recettes">
    {% for recette in recettes %}
        <div class="liste-recette"
            style="--image-url: url('{{ url_for('static', filename='images/' ~ recette[0] ~ '.jpg') }}')">
            <a href="{{ url_for('recipes.affiche_recette', id=recette[0]) }}">{{ recette[1] }}</a>
            <p>⏱️ {{recette[2]}} | 🎚️ {{recette[3]}} </p>
            <p>XP : {{ recette[5] }}</p>
            <form action="{{ url_for('recipes.supprime_recette', id=recette[0]) }}">
                <button type="submit">🗑️</button>
            </form>
        </div>
    {% endfor %}
    </div>
{% else %}
<p>Pas de recettes pour le moment</p>
{% endif %}

<br>
<form action="/add_recipe">
    <button type="submit">+ Ajouter une recette</button>
</form>

{% if recettes %}
    <div class="cartes-recettes">
    {% for recette in recettes %}
        <div class="carte-recette"
            onclick="openModal({
                title :




            })">
            
        </div>

    </div>
{% else %}
<p>Pas de recettes pour le moment</p>
{% endif %}






{% endblock %}
